<h1>Public::Tops#index</h1>
<p>Find me in app/views/public/tops/index.html.erb</p>

<h3>新商品</h4>
  <article>

  </article>

<article class="card col-md-3">
  <img class="card-img" src="images/bear.jpg" alt="">
  <div class="card-content">
    <h1 class="card-title">Webクリエイターボックス</h1>
    <p class="card-text">WebデザインやWebサイト制作、最新のWeb業界情報などを紹介していくサイト。</p>
  </div>
  <div class="card-link">
    <a href="http://webcreatorbox.com/about">About</a>
    <a href="http://webcreatorbox.com/">Website</a>
  </div>
</article>
