@media (min-width: 900px) {

  #public-cartitems{

    #index{

      h3{
        margin-left: 50px;
      }
      table{

        tr{
          padding: 30px;
          border-top: 1.2px solid silver;
          border-bottom: 1.2px solid silver;

          td{
            min-height:200px;
            padding: 10px 0;
          }//td
        }//tr
      }//table



      #go-checkout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top:40px;
        border: 1.2px solid silver;
        border-radius: 10px;
        min-height: 250px;

        #total_count{
          font-size: 17px;
          margin-bottom: 10px;
        }

        #total_price{
          color: #B12704;
          font-size: 17px;
        }//#total_price

      }//#go-checkout

      #no-item_in_cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }//#no-item_in_cart

    }//#index
  }//#public-cartitems


}//@media (min-width: 999px)
