@import "application";

// not-mobile
@media (min-width: $mobile) {
  #public-reviews{

    #index{
      // .review-lists{
      //   margin: 0 10px;

      .review-lists{
        padding: 10px 0;
        border-top: 1px solid #aaa;

        .review-list{
          display: flex;
          align-items: center;

          .review_img {
            max-width: 60%;
          }

          .review-detail {
            display: flex;

            .review-content {
              // display: flex;
            }

            .item-content {
              padding: 5px 0;
            }

            a {
              margin: 10px 0;
            }
          }
        }




      }
    }

    #show{
      #review-content{
        display: flex;
        .review-img{
          margin: 0 auto;
        }
      }
    }
  }
}// not-mobile


// mobile
@media (max-width: $mobile) {
  #public-reviews {
    #index {
      // .review-lists{
      //   margin: 0 10px;

      .review-lists {
        padding: 10px 0;
        border-top: 1px solid #aaa;
          .review-list {
            display: flex;
            .review-img{
              align-self: center;
            }
          }

        .review-detail {
          display: table;
          padding: 0 20px;

          .review-content {
            // display: table-cell;
            // vertical-align: middle;
            height: 100%;
          }

          .item-content {
            padding: 5px 0;
          }

          a {
            margin: 10px 0;
          }
        }
      }
    }

    #show{
      // h3{
      //   font-size: 100px;
      // }

    }
  }
}
