// Place all the styles related to the public::tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

@media (min-width: 999px) {



  // topsコントローラー
#public-tops{

  #index{
    h3{
      span{
        font-size: 15px;
        color: #000000;
      }//span
    }//h3

  }//#index


}//#public-tops

  // genres
      // show
      #genres-show{
        .items{
          display: flex;
          // justify-content: space-between;
          margin: 0 0 50px 0;
          // width: 100%;
          // display: block;

          article{
            .card{
              .pull-left{
                margin: 10px;
              }//.pull-left
            }//.card
          }//article
        }//.items
      }//#genres-show


}//@media (min-width: 999px)
