@import "application";

// not-mobile
@media (min-width: $mobile) {



  // topsコントローラー
  #public-tops{

    #index{

      h3{
        margin-left: 8%;
        span{
          font-size: 15px;
          color: #000000;
        }//span
      }//h3

      .items{
        margin-left: 8%;
        // margin: 0 auto;
        // display: flex;
        // justify-content: space-around;
      }

    }//#index


  }//#public-tops

  // genres
      // show
      #genres-show{
        .items{
          display: flex;
          // justify-content: space-between;
          margin: 0 0 50px 0;
          // width: 100%;
          // display: block;

          article{
            .card{
              .pull-left{
                margin: 10px;
              }//.pull-left
            }//.card
          }//article
        }//.items
      }//#genres-show


}// not-mobile


// mobile
@media (max-width: $mobile) {
  #public-tops {
    #index {

      .items{
        .item{
          overflow: hidden;
          width: 33.333%;
          padding: 2%;

          .card{
            overflow: hidden;
            width: 100%;
            .card-img{
              overflow: hidden;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
