@media (min-width: 900px) {



  // topsコントローラー
  #public-tops{

    #index{

      h3{
        margin-left: 8%;
        span{
          font-size: 15px;
          color: #000000;
        }//span
      }//h3

      .items{
        margin-left: 8%;
        // margin: 0 auto;
        // display: flex;
        // justify-content: space-around;
      }

    }//#index


  }//#public-tops

  // genres
      // show
      #genres-show{
        .items{
          display: flex;
          // justify-content: space-between;
          margin: 0 0 50px 0;
          // width: 100%;
          // display: block;

          article{
            .card{
              .pull-left{
                margin: 10px;
              }//.pull-left
            }//.card
          }//article
        }//.items
      }//#genres-show


}//@media (min-width: 999px)
