<!-- <h1>Public::Cartitems#index</h1>
<p>Find me in app/views/public/cartitems/index.html.erb</p> -->

<%= render 'cartitems_form' %>
<%= render 'go_checkout' %>


<%= link_to 'クレジット', settings_credit_path(1) %>


