@import "application";

// not-mobile
@media (min-width: $mobile) {
  #public-orders-credits{

    min-height: 700px;

    #new{
      input[type="submit"]{
        margin-top: 20px;
      }
    }

    #index{
      .card-frame{
        margin:10px;
      }//.card-frame
    }//#index

  }//#public-orders-credits
}//not-mobile
