<!-- <h1>Managers::Items#new</h1>
<p>Find me in app/views/managers/items/new.html.erb</p> -->

<%# render 'managers/partials/sidebar' %>

<div class="col-md-8 col-md-offset-2">
  <h3 class="text-center">商品登録</h3>

  <%= form_for @item, url: managers_items_path, method: :post do |f| %>
    <%= render partial: 'item_form', locals: {f: f} %>

    <div class="actions text-center">
      <%= f.submit '登録する', class: 'btn btn-default btn-md'%>
    </div>
  <% end %>
</div>
