#public-settings-credits{

  min-height: 700px;

  #index{
  }//#index

  #new{

    label{
      margin-top: 10px;
    }

    input[type=submit]{
      margin-top: 10px;
      margin-left: 110px;
    }
  }//#new
}
