@import "application";

@media (min-width: $mobile) {

  #public-settings-users{

    #dashboard{
      h3, #user_name{
        text-align: center;
      }//h3, #user_name

      #box-parent{
        border: 1.2px solid silver;
        height: 300px;
        padding: 20px;
      }//#box-parent

      .content{
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 5px auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1.2px solid silver;
        border-radius: 10px;
        text-decoration: none;

        &:hover{
          color: black;
          background-color: silver;
        }//&:hover

        #delete_button{
          margin-top: 100px;
        }
      }//.content

      #link-to-review {
        height: 70px;
        position: relative;

        a{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

    }//#dashboard

    #security{

    }//#security

  }//#public-settings-users

}// not-mobile

@media (max-width: $mobile) {
  .link-to-review{
    height: 70px;
    line-height: 70px;
  }
}
