<div>BEGIN app/views/public/genres/show.html.erb</div>

<% genre_no = @items.first.genre_id %>
<h3>ジャンル<%= genre_no %>の商品一覧</h3>
<%= render partial: 'layouts/public/items', locals: {items: @items} %>


<div>END app/views/public/genres/show.html.erb</div>
