@media (min-width: 900px) {

  .nav-search{
    margin-left: 0%;
  }

  #managers-items{

    #index{

      .btn{
        margin-bottom: 20px;
      }//.btn

      img{
        width: 60px;
      }//img
    }//#index

    #new, #edit{
      span{
        color: red;
      }//span

      img{
        width: 200px;
      }

      input[type="submit"]{
        margin-top: 10px;
        margin-bottom: 10px;
      }//input[type="submit"]

      #image_label{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        // justify-content: center;
      }
    }//#new


  }//#managers-items
}
