<!-- <p><strong>BEGIN app/views/public/settings/addresses/_address_error.html.erb</strong></p> -->

  <% if @address.errors.any? %>
    <div class="alert alert-danger">
      <h3><%= pluralize(@address.errors.count, "件のエラーがあります") %></h3>
      <% @address.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

<!-- <p><strong>END app/views/public/settings/addresses/_address_error.html.erb</strong></p> -->
