<h4 class="text-center">テストデータ</h4>
<br>
<table class="table">
  <tr>
    <th class="text-center">種別</th>
    <th class="text-center">カード番号</th>
    <th class="text-center">期限</th>
    <th class="text-center">セキュリティ<br>コード</th>
    <th class="text-center">名義</th>
  </tr>
  <tr>
    <td class="text-center">VISA</td>
    <td class="text-center">4242424242424242</td>
    <td class="text-center">12/2020</td>
    <td class="text-center">000</td>
    <td class="text-center">SHOP ANIMAL</td>
  </tr>
  <tr>
    <td class="text-center">Master</td>
    <td class="text-center">5555555555554444</td>
    <td class="text-center">10/2022</td>
    <td class="text-center">000</td>
    <td class="text-center">SHOP ANIMAL</td>
  </tr>
  <tr>
    <td class="text-center">Amex</td>
    <td class="text-center">378282246310005</td>
    <td class="text-center">11/2021</td>
    <td class="text-center">000</td>
    <td class="text-center">SHOP ANIMAL</td>
  </tr>
</table>
