<p><strong>BEGIN app/controllers/public/settings/credits/index.html.erb</strong></p>

<p>クレジット情報詳細</p>
<% unless @credits.blank? %>

<% else %>
<p><strong>まだクレジットカードの登録がありません</strong></p>
<% end %>

<p><strong>END app/controllers/public/settings/credits/index.html.erb</strong></p>
