<div class="row col-md-10 col-md-offset-1">

<!-- <p><strong>BEGIN app/controllers/public/settings/credits/new.html.erb</strong></p> -->

  <div class="col-md-4">
    <%= form_tag(settings_credits_path, method: :post, datakey: ENV['payjp_test_public_key']) do %>
      <%= render 'credit_form' %>
      <div class="actions">
        <%= submit_tag @submit,  data: { disable_with: '処理中'}, class: 'btn btn-default btn-md' %>
      </div>
    <% end %>
  </div>

  <div class="col-md-7 col-md-offset-1">
    <div>
      <%= render 'credit_demo' %>
    </div>
  </div>

<!-- <p><strong>END app/controllers/public/settings/credits/new.html.erb</strong></p> -->

</div>
