<!-- <h1>BEGIN app/controllers/public/settings/credits/show.html.erb</h1> -->

必要か?
<h1><%= @customer_id %></h1>
<h1><%= @credit.cards.data[0].brand %></h1>
<h1><%= @credit.cards %></h1>
<h1><%= @credit.cards.data.length %></h1>

<!-- <h1>END app/controllers/public/settings/credits/show.html.erb</h1> -->
