<!-- <div>BEGIN app/views/public/subgenres/show.html.erb</div>
 -->
<div class="col-md-2">
  <%= render partial: 'layouts/public/sidebar', locals: {genres: @genres} %>
</div>
<div class="col-md-10">
  <% subgenre_no = @items.first.subgenre_id %>
  <h3>サブジャンル<%= subgenre_no %>の商品一覧</h3>

  <%= render partial: 'layouts/public/items', locals: {items: @items} %>

  <div class="text-center"><%= paginate @items, window: 3 %></div>
</div>

<!-- <div>END app/views/public/subgenres/show.html.erb</div> -->
