<div id="error_404_parent" class="col-md-10 col-md-offset-1">
  <div>
    <div class="text-center">
      <h1>エラー　404</h1>
    </div>
    <div class="text-center">
      おさがしのページが見つかりませんでした。<br>
      URLを確認して再度入力するかトップページへお戻りください
    </div>
    <div class="text-center" style="margin-top: 30px;">
    <%= link_to 'トップ画面へ戻る', root_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
