<div id="error_404_parent" class="col-md-10 col-md-offset-1">
  <div>
    <div class="text-center">
      <h1>エラー　500</h1>
    </div>
    <div class="text-center">
      処理中にエラーが発生しました<br>
      もう一度操作をやり直してください
    </div>

  </div>
</div>
