<h1>Public::Orders::Credits#new</h1>
<p>Find me in app/views/public/orders/credits/new.html.erb</p>


<div class="col-md-4">
  <%= form_tag(public_orders_credits_create_path, datakey: ENV['payjp_test_public_key']) do %>
    <%= render 'public/settings/credits/credit_form' %>
  <% end %>
</div>

<div class="col-md-7 col-md-offset-1">
  <div>
    <%= render 'public/settings/credits/credit_demo' %>
  </div>
</div>
