<div>BEGIN app/views/layouts/public/_items.html.erb</div>

<% items.each do |item| %>
  <article class="card pull-left">
    <!-- <img class="card-img" src="images/bear.jpg" alt=""> -->
    <%# image_tag item.mainImage.url, class: 'card-img' %>
    <div class="card-content">
      <div class="card-title">Webクリエイターボックス</div>
      <%# item.itemName, class: 'card-title'%>
      <div class="card-text">WebデザインやWebサイト制作、最新のWeb業界情報などを紹介していくサイト。</div>
      <%# item.price, class: 'cart-text' %>
    </div>
  </article>
<% end %>

<div>END app/assets/stylesheets/public/_items.html.erb</div>
