<!-- <div>BEGIN app/views/layouts/public/_sidebar.html.erb</div> -->

<div class="sidebar">
  <h3 class="text-left">ジャンル</h3>
  <% genres.each_with_index do |genre, i| %>

    <b><%= link_to "#{genre.name}", genre_path(genre.id) %></b>
    <ul>
      <% genre.subgenres.each do |subgenre| %>
      <!-- <li style="list-style-type: none;"><%= subgenre.name %></li> -->
      <%# subgenre.id %>
      <li style="list-style-type: none;"><%= link_to "#{subgenre.name}", subgenre_path(id: subgenre.id) %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<!-- <div>END app/views/layouts/public/_sidebar.html.erb</div> -->

