<div>BEGIN app/views/layouts/public/_sidebar.html.erb</div>

<div class="sidebar">
  <h3 class="text-center">ジャンル</h3>
  <div>
    <% 100.times do %>
      あああああああああああああああああああああああああああああああ
    <% end %>
  </div>
</div>

<div>END app/views/layouts/public/_sidebar.html.erb</div>

