<ul class="col-xs-12 col-sm-12">
  <% @cartitems.each_with_index do |cartitem, j| %>
    <li>
      <div class="row cartItemList">
        <%# 画像 %>
        <div class="cartItemImg row-eq-height col-xs-3 col-sm-3">
          <%= image_tag(cartitem.item.mainImage.url, class: 'img-responsive') %>
        </div>
        <%# 商品詳細 %>
        <div class="cartItemDetail col-xs-9 col-sm-9 text-left">
          <%# 商品名 %>
          <div>
            <%= cartitem.item.itemName %>
          </div>
          <%# 値段 %>
          <div class="color-price">
            <%= dispYen(cartitem.item.price) %>
          </div>
          <%# 数量 %>
          <div>
            数量: <%= cartitem.quantity %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
