<div>BEGIN app/views/public/items/show.html.erb</div>

<p>
  ジャンルID<<br>
  <%= @item.genre_id %>
</p>

<p>
  サブジャンルID<<br>
<%= @item.subgenre_id %>
</p>

<div>END app/views/public/items/show.html.erb</div>
